*{
  font-family: 'Rubik', sans-serif, Arial, Helvetica;
  font-weight: 400;
}

.btn{
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 6px;
  color: var(--text-color-btn);
  cursor: pointer;
  transition: background-color .15s ease-in;
  user-select: none;

  &-main{
    background-color: var(--btn-color-main);
    &:hover{
      background-color: var(--btn-color-main-hover);
    }
    &:active{
      background-color: var(--btn-color-main-active);
    }
  }

  &-file{
    fill: var(--text-color-btn);
    background-color: var(--btn-color-file);
    &:hover{
      background-color: var(--btn-color-file-hover);
    }
    &:active{
      background-color: var(--btn-color-file-active);
    }
  }

  &-theme{
    padding: 4px 8px;
    font-size: 16px;
  }
}
.btn *{
  cursor: pointer;
}

.input{
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--input-color);

  &:focus{
    outline: 2px solid var(--input-color-outline);
  }

  &-incorrect{
    outline: 2px solid var(--input-color-outline-error);
  }
}