:root{
    --bg-color-0: rgb(238, 238, 238);
    --bg-color-1: rgb(221, 221, 221);

    --btn-color-main: rgb(0, 151, 161);
    --btn-color-main-hover: rgb(0, 168, 180);
    --btn-color-main-active: rgb(0, 135, 145);

    --text-color: rgb(36, 36, 36);
    --text-color-btn: rgb(221, 221, 221);
    --text-color-description: rgb(114, 114, 114);

    --scroll-track-color: rgb(59, 59, 59);
    --scroll-thumb-color: rgb(207, 207, 207);

    --scroll-bar-width: 6px;
    --scroll-bar-border-radius: calc(var(--scroll-bar-width) / 2);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}

.scrollable {
    overflow-y: scroll;
    scrollbar-width:var(--scroll-bar-width);
    touch-action: pan-y; // обязательно для свайпа в сторону на мобильной версии

    &::-webkit-scrollbar{
        width: var(--scroll-bar-width);
    }
    &::-moz-scrollbar {
        width: var(--scroll-bar-width);
    }

    &::-webkit-scrollbar-track{
        background-color: var(--scroll-track-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-track {
        background-color: var(--scroll-track-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--scroll-thumb-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-thumb {
        background-color: var(--scroll-thumb-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
}

.bg-color-0{
    background-color: var(--bg-color-0);
}
.bg-color-1{
    background-color: var(--bg-color-1);
}

.text-color-description{
    color: var(--text-color-description);
}

