:root{
    --bg-color-0: rgb(238, 238, 238);
    --bg-color-1: rgb(221, 221, 221);

    --input-color: rgb(199, 199, 199);
    --input-color-outline: rgb(0, 121, 202);
    --input-color-outline-error: rgb(240, 133, 133);

    --btn-color-main: rgb(0, 151, 161);
    --btn-color-main-hover: rgb(0, 168, 180);
    --btn-color-main-active: rgb(0, 135, 145);
    --btn-color-file: rgb(161, 51, 0);
    --btn-color-file-hover: rgb(188, 60, 0);
    --btn-color-file-active: rgb(132, 43, 2);

    --text-color: rgb(36, 36, 36);
    --text-color-btn: rgb(221, 221, 221);
    --text-color-link: rgb(0, 126, 165);
    --text-color-error: rgb(213, 61, 61);
    --text-color-description: rgb(114, 114, 114);

    --scroll-track-color: rgb(59, 59, 59);
    --scroll-thumb-color: rgb(207, 207, 207);

    --scroll-bar-width: 6px;
    --scroll-bar-border-radius: calc(var(--scroll-bar-width) / 2);
}

.dark-theme{
    --bg-color-0: rgb(47, 49, 54);
    --bg-color-1: rgb(75, 78, 84);

    --input-color: rgb(107, 106, 106);
    --input-color-outline: rgb(93, 167, 216);
    --input-color-outline-error: rgb(240, 133, 133);

    --btn-color-main: rgb(0, 151, 161);
    --btn-color-main-hover: rgb(0, 168, 180);
    --btn-color-main-active: rgb(0, 135, 145);

    --text-color: rgb(230, 230, 230);
    --text-color-btn: rgb(221, 221, 221);
    --text-color-link: rgb(19, 163, 207);
    --text-color-error: rgb(240, 133, 133);
    --text-color-description: rgb(164, 164, 164);

    --scroll-track-color: rgb(59, 59, 59);
    --scroll-thumb-color: rgb(207, 207, 207);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6, p, span{
    cursor: default;
}

.scrollable {
    overflow-y: scroll;
    scrollbar-width:var(--scroll-bar-width);
    touch-action: pan-y; // обязательно для свайпа в сторону на мобильной версии

    &::-webkit-scrollbar{
        width: var(--scroll-bar-width);
    }
    &::-moz-scrollbar {
        width: var(--scroll-bar-width);
    }

    &::-webkit-scrollbar-track{
        background-color: var(--scroll-track-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-track {
        background-color: var(--scroll-track-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--scroll-thumb-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-thumb {
        background-color: var(--scroll-thumb-color);
        border-radius: var(--scroll-bar-border-radius);
        transition: background-color 1s ease-in-out;
    }
}

.bg-color-0{
    background-color: var(--bg-color-0);
}
.bg-color-1{
    background-color: var(--bg-color-1);
}

.text-color-description{
    color: var(--text-color-description);
}

.text-color-link{
    color: var(--text-color-link);
}

.text-color-error{
    color: var(--text-color-error);
}

@keyframes timeLine{
    from{
      width: 100%;
    }
    to{
      width: 0px;
    }
  }
